body {
    background: rgb(0, 0, 0);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
  }
  .wrapper {
    width: 800px;
    margin: 30px auto;
    color: rgb(46, 11, 243);
    text-align: center;
    border: 2px solid rgb;
    padding: 50px;
    border-radius: 10%;
    box-shadow: 0 0 10px 10px rgb(51, 47, 248);
  }
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
    border: 2px solid rgb(27, 26, 26);
    box-shadow: 0 0 10px 10px rgb(21, 5, 248);
  }
  #seconds,
  #tens {
    font-size: 2em;
  }
  button {
    background: rgb(0, 0, 0);
    color: rgb(80, 19, 247);
    border: solid 1px rgb(19, 17, 17);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
   
  }
  button:hover {
    background: rgb(166, 178, 243);
    border: solid 1px white;
    color: rgb(0, 0, 0);
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: auto;
  }